*,
::before,
::after {
    box-sizing: 
    border-box;
}
body{
    margin: 0;
    font-family:
    'Montserrat',
    sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3  {
    margin: 0;
}
.header{
    width: 100%;
    padding: 0px;
    color: rgb(142, 142, 142);
    background-color: rgb(65, 63, 63);
    display: flex;
}

.header img{
    width: 120px;
    height: 40px;
   margin: 0 auto;
}
.text1{
    background-color: rgb(255, 255, 255); 
    border-bottom: 1px solid #a4a4a4;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-gap:20px ;
    font-size: 14px;
    flex-direction: column;

}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.hero__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}
.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .hero__title {
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 1.1;
    }
    .hero__description{
        font-size: 14px;
    
    }
    .hero__about{
        text-align: center;
    }
    @media screen and (max-width: 978px) {
        .hero{
            padding-top: 30px;
        }
    }
    .hero__title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .hero__link:hover {
        color: #4facfe;
    
    }
    .hero__links{
        display: flex;
        justify-content: center;
        }
        .hero__link{
            margin-right: 10px;
            font-size: 30px;
            color: black;
            transition: color 0.3s;
        }
        .pnzgu:hover{
            color: #4facfe;
        }
        .pnzgu{
            width: 40px;
            height: 40px;
        }
       